./.idea
./.env
./notifier-app/*.log
./notifier-app/.DS_Store
./notifier-app/.env
./notifier-app/.env.backup
./notifier-app/.env.production
./notifier-app/.phpactor.json
./notifier-app/.phpunit.result.cache
./notifier-app/.fleet
./notifier-app/.idea
./notifier-app/.nova
./notifier-app/.phpunit.cache
./notifier-app/.vscode
./notifier-app/.zed
./notifier-app/auth.json
./notifier-app/node_modules
./notifier-app/public/build
./notifier-app/public/hot
./notifier-app/public/storage
./notifier-app/storage/*.key
./notifier-app/storage/pail
./notifier-app/vendor
./notifier-app/Homestead.json
./notifier-app/Homestead.yaml
./notifier-app/Thumbs.db
